<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <div class="p-6 bg-white w-full flex justify-between">
        <div class="flex flex-row gap-3 items-center">
            <a class="cursor-pointer p-2 flex items-center rounded-none bg-gray-100 " mat-flat-button [routerLink]="['../']">
                <mat-icon class="text-current icon-size-4 mr-2" [svgIcon]="'mat_outline:arrow_back_ios'"></mat-icon>
                Volver
            </a>
            <!-- <h2 class="sm:text-4xl font-semibold text-primary-700 text-2xl">Busqueda</h2> -->
        </div>
        <div class="flex items-center md:hidden">
            <button mat-icon-button (click)="matDrawer.toggle()">
                <mat-icon [svgIcon]="'heroicons_outline:bars-3'"></mat-icon>
            </button>
        </div>
    </div>

    <mat-drawer-container class="flex-auto h-full">
        <!-- Drawer -->
        <mat-drawer class="w-80 dark:bg-gray-900" [autoFocus]="false" [mode]="drawerMode" [opened]="drawerOpened" #matDrawer>
            <!-- Boton crear sesion -->
            <div class="w-full flex justify-center" *appShowForRoles="['programador', 'monitoreo', 'admin']">
                <button mat-flat-button (click)="crearSesionDialog()" class="text-primary border-solid border font-bold hover:bg-primary hover:bg-none hover:text-white">
                    <mat-icon class="text-current icon-size-6 mr-2" [svgIcon]="'heroicons_outline:plus-small'"></mat-icon>
                    Crear sesion
                </button>
            </div>

            <!-- informacion comision -->
            <div class="w-full pt-8 px-4">
                <div class="w-full flex flex-col justify-start">
                    <h2 class="font-bold text-2xl">{{comision.nombre}}</h2>
                </div>
                <div class="flex justify-start">
                    <h3 class="mt-4 font-semibold text-xl px-4 py-1 rounded-full" [ngClass]="{'bg-gray-300 text-gray-700': comision.estado === 'No transmitiendo'
                    , 'bg-green-300 text-green-800': comision.estado === 'grabando', 'bg-yellow-300 text-yellow-800': comision.estado === 'preparado'
                    }">{{comision.estado | titlecase}}</h3>
                </div>
            </div>
        </mat-drawer>

        <!-- Drawer content -->
        <mat-drawer-content class="flex flex-col bg-white">
            <!-- titulo -->
            <div class="p-6 flex justify-between">
                <h2 class="font-bold text-4xl text-primary-600">Sesiones</h2>
                <!-- mat menu -->
                <div>
                    <div class="flex items-center mt-1.5 px-4 leading-9 rounded-full cursor-pointer"
                        [ngClass]="{'text-green-800 bg-green-200 dark:text-green-100 dark:bg-green-500': filtroBusqueda === 0,
                                    'text-gray-800 bg-gray-200 dark:text-gray-100 dark:bg-gray-500': filtroBusqueda === 2,
                                    'text-blue-800 bg-blue-200 dark:text-blue-100 dark:bg-blue-500': filtroBusqueda === 1}"
                        [matMenuTriggerFor]="priorityMenu">

                        <!-- Low -->
                        <ng-container *ngIf="filtroBusqueda === 0">
                            <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_mini:arrow-long-down'"></mat-icon>
                            <span class="ml-2 mr-1 text-md font-medium">Pendientes Gestion</span>
                        </ng-container>

                        <!-- High -->
                        <!-- <ng-container *ngIf="filtroBusqueda === 1">
                            <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_mini:arrow-long-up'"></mat-icon>
                            <span class="ml-2 mr-1 text-md font-medium">Terminadas</span>
                        </ng-container> -->

                        <!-- Normal -->
                        <ng-container *ngIf="filtroBusqueda === 2">
                            <mat-icon class="icon-size-4 text-current" [svgIcon]="'heroicons_solid:minus'"></mat-icon>
                            <span class="ml-2 mr-1 text-md font-medium">Todas</span>
                        </ng-container>
                    </div>
                    <mat-menu #priorityMenu="matMenu">
                        <!-- Low -->
                        <button [ngClass]="{'bg-hover': filtroBusqueda === 0}" mat-menu-item (click)="aplicarFiltro(0)">
                            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                <span class="font-medium">Pendientes Gestion</span>
                                <mat-icon class="mr-0 icon-size-4 text-green-600 dark:text-green-500" [svgIcon]="'heroicons_mini:arrow-long-down'"></mat-icon>
                            </span>
                        </button>

                        <!-- High -->
                        <!-- <button [ngClass]="{'bg-hover': filtroBusqueda === 1}" mat-menu-item (click)="aplicarFiltro(1)">
                            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                <span class="font-medium">Terminadas</span>
                                <mat-icon class="mr-0 icon-size-4 text-blue-600 dark:text-blue-500" [svgIcon]="'heroicons_mini:arrow-long-up'"></mat-icon>
                            </span>
                        </button> -->

                        <!-- Normal -->
                        <button [ngClass]="{'bg-hover': filtroBusqueda === 2}" mat-menu-item (click)="aplicarFiltro(2)">
                            <span class="inline-flex items-center justify-between w-full min-w-30 leading-5">
                                <span class="font-medium">Todas</span>
                                <mat-icon class="mr-0 icon-size-4 text-gray-600 dark:text-gray-500" [svgIcon]="'heroicons_solid:minus'"></mat-icon>
                            </span>
                        </button>
                    </mat-menu>
                </div>
            </div>

            <div class="px-6">

                <!-- fecha -->
                <div class="w-full justify-start py-4">
                    <!-- <h3 class="text-secondary text-lg">01 de Junio de 2024</h3> -->
                </div>
                <!-- sesions list -->
                <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3">
                    <ng-container *ngFor="let item of sesiones; let i = index; let first = first; let last = last">
                        <!-- start of the day -->
                        <!-- <ng-container *ngIf="first || (sesiones[i-1].fecha_inicio_sesion | date: 'd') !== (item.fecha_inicio_sesion | date: 'd')">
                            <div class="w-full justify-start py-4">
                                <h3 class="text-secondary text-lg">{{item.fecha_inicio_sesion | date:'longDate'}}</h3>
                            </div>
                        </ng-container> -->

                        <!-- card -->
                        <div class="w-full p-4 border border-solid border-gray-200 rounded-md hover:shadow-inner">
                            <!-- titulo -->
                            <div class="flex flex-col justify-start">
                                <div class="flex flex-row justify-between items-center gap-2">
                                    <h2 class="text-xl font-semibold">
                                        {{item.tema}}
                                    </h2>
                                    <div class="flex justify-center">
                                        <div  [ngClass]="{'bg-gray-400': item.estado_transmision === 'No transmitiendo'
                                        ,'bg-yellow-500': item.estado_transmision === 'Preparado para grabar'
                                        , 'bg-green-500': item.estado_transmision === 'Grabando'
                                        , 'bg-blue-500': item.estado_transmision === 'Transmisión finalizada'
                                        , 'bg-red-500': item.estado_transmision === 'Sesíon cancelada'
                                        }"
                                        class="p-4 rounded-full"></div>
                                    </div>
                                </div>
                                <h3 class="flex justify-start">
                                    {{item.fecha_inicio_sesion | date:'longDate'}} - {{item.hora_inicio_sesion}}
                                </h3>
                            </div>

                            <!-- informcion -->
                             <div class="flex flex-col mt-4">
                                <!-- responsable -->
                                <div class="w-full flex flex-col">
                                    <h3 class="text-secondary text-lg">Responsable:</h3>
                                    <h4 class="text-lg font-medium">{{item.responsable}}</h4>
                                </div>
                             </div>

                            <!-- acciones -->
                            <div class="w-full flex flex-row justify-between gap-2 mt-4">
                                <div *ngIf="item.estado_transmision === 'No transmitiendo'">
                                    <button mat-icon-button (click)="editarSesionDialog(item)" *appShowForRoles="['programador', 'monitoreo', 'admin']">
                                        <mat-icon class="text-primary icon-size-8" [svgIcon]="'heroicons_outline:pencil'"></mat-icon>
                                    </button>
                                </div>
                                <button mat-icon-button [routerLink]="['./', item.id]">
                                    <mat-icon class="text-primary icon-size-8" [svgIcon]="'heroicons_outline:eye'"></mat-icon>
                                </button>
                            </div>
                        </div>

                    </ng-container>
                </div>

                <!-- content -->
                <div class="w-full mt-3 flex justify-end">
                    <mat-paginator [disabled]="loading" class="bg-transparent" [length]="total" [pageIndex]="page" [pageSize]="limit" [showFirstLastButtons]="true" (page)="handlePageEnvent($event)"></mat-paginator>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
